.footer {
  font-size: 20px;
  line-height: 24px;

  position: relative;
  
  padding-bottom: 60px;

  color: white;
  background-color: black;

  font-weight: 400;
}

.footer__inner {
  margin: 0 auto;
  width: 90%;
  max-width: 1900px;
  position: relative;
  padding-bottom: 100px;
}
.container-inner {
  max-width: 1900px;
  margin: 0 auto;
  width: 90%;
}

.footer-column {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
.footer-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}
.footer a {
  color: white;
  display: block;
}
.footer a:hover {
  text-decoration: underline;
}

.footer #break {
  margin-bottom: 30px;
}

.footer #copyright {
  position: absolute;
  right: 0;
  bottom: 0;
}

.abstract-logo-footer {
  width: 138px;
  margin-bottom: 20px;
}

.footer p {
  margin: 0;
}
@media screen and (max-width: 768px){
  .container-inner {
    width: 100% !important;
  }
}
@media screen and (max-width: 620px) {
  .footer__inner {
    padding-bottom: 180px;
    padding-left: 30px;
}
}

@media screen and (max-width: 1440px) {
  .footer-column {
    width: 25%;
  }
}

@media screen and (max-width: 620px){
  .footer-column {
    width: calc(50% - 83px);
    margin-right: 80px;
  }
}




